// FUENTES

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:wght@600&family=Slabo+27px&display=swap");
//font-family: 'Anton', sans-serif;
//font-family: 'Playfair Display', serif;
//font-family: 'Slabo 27px', serif;

@mixin RedQube {
  background-color: var(--rojo);
  padding: 0px 10px;
  border-radius: 5px;

  transition: all 0.5;
}

@mixin RedQubeH {
  background-color: #fff;
  color: var(--rojo);
}

@mixin fontred {
  color: var(--rojo);
}

@mixin sombra {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

@mixin margen {
  margin: 0px 200px;
}

:root {
  --rojo: #b92148;
  --azul: #151c2e;
  --gris: #f4f4f4;
  --negro: #121621;
}

* {
  margin: 0px;
  padding: 0px;

  font-size: 16px;
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--gris);
}

header {
  background-color: var(--azul);
  padding: 10px 0px;
  nav {
    display: flex;
    justify-content: space-between;
    @include margen();
    align-items: center;
    a {
      color: #fff;
      transition: all 0.5s;
    }
    a:hover {
      color: var(--rojo);
    }
    img {
      width: 50px;
      height: 50px;
    }
    ul {
      list-style: none;
      display: flex;
      li {
        margin: 0px 10px;
      }
      li:nth-child(4) {
        @include RedQube();
      }
      li:nth-child(4):hover {
        @include RedQubeH();
      }
    }
  }
}

.contenido {
  // configurando el fondo
  background-image: url("../images/champions_fondo.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 80% 100%;
  background-color: var(--azul);
  //display
  display: flex;
  justify-content: center;

  color: #fff;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    span {
      @include fontred();
      margin-bottom: 10px;
    }
    h3 {
      font-size: 2em;
      margin-bottom: 10px;
      span {
        font-size: inherit;
      }
    }
    p {
      font-size: 1.3em;
      margin-bottom: 10px;
    }
    hr {
      color: var(--rojo);
    }
    img {
      margin-right: 100px;
      width: 500px;
      height: 100%;
    }
  }
}

.gris {
  color: rgb(143, 143, 143);
}

.eventos {
  display: flex;
  justify-content: center;
  @include margen();
  ul {
    margin-top: -60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    background-color: #fff;

    // sombra
    @include sombra();

    li {
      display: flex;
      align-items: center;
      div {
        display: flex;
        align-items: center;
        font-weight: 700;
        letter-spacing: 1px;
        font-family: "Slabo 27px", serif;
        font-size: 1.2em;
        margin: 0px 10px;

        p {
          display: inline;
          font-size: 2em;
        }

        span {
          margin: 0px 5px;
          @include fontred();
          font-weight: 800px;
          font-size: 1.2em;
        }
      }
      button {
        @include RedQube();
        padding: 10px 30px;
        color: #fff;
        transition: all 0.5s;
      }
      button:hover {
        @include RedQubeH();
      }
      img {
        height: 100px;
      }
    }
  }
}

.final {
  display: flex;
  justify-content: center;
  @include margen();
  margin-bottom: 200px;
  aside {
    width: 20%;
    p {
      padding: 20px 10px;
      span {
        @include fontred();
      }
    }
    div {
      width: 100%;
      @include sombra();
      background-color: #fff;
      display: flex;
      flex-direction: column;
      
      img {
        width: 100%;
        margin: 0px;
      }
      button {
        background-color: transparent;
        border: none;
        padding: 20px 0;
        width: 100%;
      }
      button:nth-child(3) {
        background-color: var(--negro);
        color: #fff;
      }
      div{
        width: 100%;
        padding: 20px;
        margin-left: 0px;
        h2{
          width: 80%;
          font-weight: 300;
        }
        p{
          margin-top: 68px;
          padding: 0px;
        }

      }
    }
  }
  div {
    width: 60%;
    overflow: hidden;
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 20px 10px;
      li {
        a {
          color: var(--negro);
          text-decoration: none;
        }
        a:hover{
          @include RedQube();
        }
      }
    }
    div {
      margin: 0px 10px;
      background-color: #fff;
      @include sombra();
      width: 98%;
      img {
        width: 100%;
        height: 300px;
      }
      div{
        margin: 0px;
        padding:20px 30px;
        h2{
          letter-spacing: 1px;
          width: 80%;
          font-size: 1.3em;
        }
        p{
          margin-top: 28px;
          span{
            font-weight: 900;
            @include fontred();
          }
        }
      }
    }
  }
}
